<% provide :page_title, 'Edit' %>
<% currently_at 'Edit' %>

<div class="container" style="max-width: max-content">
  <article class="card ">
    <section class="card-header">
      <h4><%= @note.title %></h4>
    </section>

    <div class="card-body">
      <section class="card-text">
        <p class="my-2">
          <%= @note.text %>
        </p>
      </section>
    </div>

  </article>
</div>

<%= render 'form' %>