<% provide :page_title, 'Notes' %>
<% currently_at 'Notes' %>

<h1 class="mb-lg-4">Notes</h1>
<%- if @current_user %>
  <%= nav_tab 'New note', new_note_url, class: 'btn btn-primary px-2 text-white' %>
  <% @notes.each do |note| %>
    <article class="card mt-3">
      <div class="card-body">
        <h4><%= note.title %></h4>

        <section class="card-text">
          <p class="my-2">
            <%= note.text %>
          </p>

        </section>

        <%= link_to 'View', note_url(note), class: 'btn btn-primary' %>
      </div>
    </article>
  <% end %>
<%end %>
