<h1 class="mb-lg-4">Notes</h1>
<%- if @current_user %>
  <% @notes.each do |note| %>
    <article class="card">
      <div class="card-body">
        <h4><%= note.title %></h4>

        <section class="card-text">
          <p class="my-2">
            <%= note.text %>
          </p>

        </section>

        <%= link_to 'View', note_url(note), class: 'btn btn-primary' %>
      </div>
    </article>
  <% end %>
<%end %>
