<h1><%= @note.title %></h1>
<div>
  <%= @note.text %>
</div>

<%= link_to 'Редактировать', edit_note_url(@note) %>
<%= link_to 'Удалить', note_url(@note), method: :delete,
            data: {confirm: 'Точно'} %>